In [62]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

df_data = pd.read_csv("c:/Users/20182463/Desktop/Master/GEOviz/TFL Entry and Exit Data/Data/AnnualisedEntryExit_2019_geoviz.csv", sep = ";", skiprows = 6)
column_list = ['entries', 'entries.1', 'entries.2', 'entries.3', 'exits', 'exits.1', 'exits.2', 'exits.3']

for column_name in column_list:
    for row in range(len(df_data)):
        df_data[column_name].iloc[row] = int(df_data[column_name].astype(str)[row].replace('.', ''))

df_data.head(5)

,Mode,NLC,ASC,Station,Coverage,Source,entries,entries.1,entries.2,entries.3,exits,exits.1,exits.2,exits.3,en/ex
0,LU,500,ACTu,Acton Town,Station entry / exit,Gateline,10091.0,1024.0,7449.0,5187.0,10023.0,10141.0,7713.0,5492.0,6.186.555
1,LU,502,ALDu,Aldgate,Station entry / exit,Gateline,17039.0,15532.0,6173.0,3873.0,18352.0,16652.0,10665.0,5779.0,9.956.600
2,LU,503,ALEu,Aldgate East,Station entry / exit,Gateline,23063.0,24584.0,18072.0,14638.0,22381.0,23964.0,16465.0,12707.0,14.148.654
3,LU,505,ALPu,Alperton,Station entry / exit,Gateline,4491.0,4524.0,3215.0,2381.0,4893.0,4867.0,3314.0,2577.0,2.858.439
4,LU,506,AMEu,Amersham,Station entry / exit,Gateline,4143.0,3773.0,2164.0,1415.0,4041.0,3824.0,2122.0,1399.0,2.350.099

In [66]:
list_in = df_data["entries"] + df_data["entries.1"] + df_data["entries.2"] + df_data["entries.3"]
list_out = df_data["exits"] + df_data["exits.1"] + df_data["exits.2"] + df_data["exits.3"]
stations = df_data['Station'].to_list()